---
import { NextUIProvider } from '@nextui-org/react';
import ThemeScript from '../components/ThemeScript.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="msvalidate.01" content="837ADF036608F017D591091E96AD9F9C" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
    rel="alternate"
    type="application/rss+xml"
    title="Kemono"
    href={new URL("rss.xml", Astro.site)}
/>
    {description && <meta name="description" content={description} />}
    <ThemeScript />
  </head>
  <body>
    <NextUIProvider>
      <main class="min-h-screen text-foreground bg-background transition-colors duration-300">
        <slot />
      </main>
    </NextUIProvider>
  </body>
</html>
